body{
	background-color: 	#FFE4B5;
}

.painel-principal{
	background-color: #FFFFFF;
	margin-bottom: 20px;
}

.painel-user{
	background-color: #E6E6FA;
	padding-top: 10px;
	padding-bottom: 10px;
}

.painel-tweet{
	margin-bottom: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #BBB
}

.bloco{
	margin-top: 7px;
	margin-bottom: 7px;
}

.titulo{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:black;
	background-color:#FFDEAD;
	margin-bottom:25px;
	font-size:60px;
	padding: 20px;
}
.status-tweets{
	margin-top:20px;
	margin-bottom:20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

